<div class="about-container">

    <!-- Our Story Section -->
    <div class="story-section">
        <div class="text-content">
            <h2>Our Story</h2>
            <p>
                Launched in 2025, SwiftHost is India's premier online platform for hosting businesses with top-tier
                services and unbeatable pricing.
                Supported by a wide range of customer-friendly solutions, we serve businesses across the country,
                offering reliable, scalable, and secure hosting services.
                SwiftHost features a diverse range of hosting solutions, giving you a flexible choice to meet your
                business needs effectively.
            </p>
        </div>
        <img src="../../../assets/img/about-page-image.jpg" alt="Shopping" class="story-image" />
    </div>

    <!-- Stats Section -->
    <div class="stats-section">
        <div class="stat-card">
            <h3>10.5k</h3>
            <p>Sales active on our shop</p>
        </div>
        <div class="stat-card highlight">
            <h3>33k</h3>
            <p>Monthly Product Sale</p>
        </div>
        <div class="stat-card">
            <h3>45.5k</h3>
            <p>Customer active in our shop</p>
        </div>
        <div class="stat-card">
            <h3>25k</h3>
            <p>Annual gross sales in our shop</p>
        </div>
    </div>

    <!-- Team Section -->
    <div class="team-section">
        <div class="team-card">
            <img src="../../../assets/img/founder.jpeg" alt="Founder & Chairman">
            <h4>Saurav Borah</h4>
            <p>Founder & Chairman</p>
            <div class="icons">
                <i class="bi bi-linkedin cursor-pointer"
                    (click)="navigateTo('https://in.linkedin.com/in/saurav-borah-a7751818b')"
                    title="Visit LinkedIn"></i>
            </div>
        </div>
    </div>

    <!-- Features Section -->
    <div class="features-section">
        <div class="feature-card">
            <i class="bi bi-truck"></i>
            <h4>FREE AND FAST DELIVERY</h4>
            <p>Free delivery for all orders over $200</p>
        </div>
        <div class="feature-card">
            <i class="bi bi-headset"></i>
            <h4>24/7 CUSTOMER SERVICE</h4>
            <p>Friendly 24/7 customer support</p>
        </div>
        <div class="feature-card">
            <i class="bi bi-shield-check"></i>
            <h4>MONEY BACK GUARANTEE</h4>
            <p>Money back within 30 days</p>
        </div>
    </div>

</div>