<nav class="navbar navbar-expand-lg fixed-top gradient-custom-2">
    <div class="container-fluid">
        <!-- Left Section: Logo & Search -->
        <div class="d-flex align-items-center me-auto">
            <a class="navbar-brand" [routerLink]="['/home']">
                <img src="../../../assets/img/swifthost-logo.webp" alt="SwiftHost Logo">
            </a>

            <form class="input-group search-box ms-3">
                <input type="search" class="form-control" placeholder="{{'SEARCH' | translate}}" aria-label="Search">
                <button class="btn btn-search" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <!-- Navbar Toggler for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/home']">
                        <i class="fas fa-home"></i> <span>{{'HOME' | translate}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/network']">
                        <i class="fas fa-user-friends"></i> <span>{{'MY_NETWORK' | translate}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/jobs']">
                        <i class="fas fa-briefcase"></i> <span>{{'JOBS' | translate}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/messaging']">
                        <i class="fas fa-comment-dots"></i> <span>{{'MESSAGING' | translate}}</span>
                    </a>
                </li>

                <!-- Language Dropdown -->
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle profile-dropdown" id="navbarDropdownMenuLink" ngbDropdownToggle
                        role="button">
                        <i class="fas fa-comment-dots"></i> <span>{{'LANGUAGE' | translate}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <li><a class="dropdown-item" (click)="changeLanguage('en')">English</a>
                        </li>
                        <li><a class="dropdown-item" (click)="changeLanguage('fr')">Français</a>
                        </li>
                        <li><a class="dropdown-item" (click)="changeLanguage('hindi')">Hindi</a>
                        </li>
                        <li><a class="dropdown-item" (click)="changeLanguage('bengali')">Bengali</a>
                        </li>
                        <li><a class="dropdown-item" (click)="changeLanguage('arabic')">Arabic</a>
                        </li>
                    </ul>
                </li>

                <!-- Profile Dropdown -->
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle profile-dropdown" id="navbarDropdownMenuLink" ngbDropdownToggle
                        role="button">
                        <img src="../../../assets/img/empty-user.webp" class="avatar-img" alt="User Avatar">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <li><a class="dropdown-item" [routerLink]="['/userProfile/edit']">{{'MY_PROFILE' |
                                translate}}</a>
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/settings']">{{'SETTINGS' | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['']" (click)="onLogout()">{{'LOGOUT' |
                                translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>