/* You can add global styles to this file, and also import other style files */
.form-errors {
    color: red;
    margin-top: 4px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.content-bg {
    margin-top: 70px;
    padding: 16px;
}

.form-required {
    color: red;
}

.form-section-header {
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(to right, #007bff, #0056b3);
    color: white;
    padding: 12px 16px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cursor-pointer {
    cursor: pointer;
}